<div class="container">
  <div class="progress" *ngIf="!lectura_radar; else listado">
    <p class="text-center">
      Leyendo archivo...
    </p>
    <br>
    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="100"
      aria-valuemin="0" aria-valuemax="100"></div>
  </div>

  <ng-template #listado>
    <div class="container">
      <div class="row" *ngFor="let resp of respuestas">
        <div class="col-md-12">
          <b>Nave: </b> {{ resp.nave }}
        </div>
        <div class="col-md-12">
          <b>Target: </b>{{ resp.respuesta }}
        </div>
      </div>
    </div>
  </ng-template>
</div>